<beans:beans xmlns="http://www.springframework.org/schema/security" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:beans="http://www.springframework.org/schema/beans" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd">


    <http auto-config="true" use-expressions="true">
        <!--<intercept-url pattern="/inicio.xhtml" access="hasRole('ROLE_ADMIN')"/>-->
		

        <access-denied-handler error-page="/acessoNegado.xhtml" /> 
        <form-login login-page="/login.xhtml" 
                            authentication-failure-url="/login.xhtml?error=true" /> 
    </http>

    <authentication-manager>


        <authentication-provider>
            <user-service>
                <user name="maria" password="123" authorities="ROLE_ADMIN"/>
                <user name="jose" password="123" authorities="ROLE_USER"/>
            </user-service>

            <!-- 			<jdbc-user-service data-source-ref="dataSource" -->
            <!-- 				users-by-username-query="SELECT email as username, senha as password, enable FROM usuario WHERE email=?" -->
            <!-- 				authorities-by-username-query="SELECT email as username, perfil as authority FROM usuario WHERE email=?" /> -->
				
        </authentication-provider>


    </authentication-manager>
    <!-- <beans:bean id="dataSource" -->
    <!-- class="org.springframework.jdbc.datasource.DriverManagerDataSource"> -->
    <!-- <beans:property name="url" -->
    <!-- value="jdbc:mysql://localhost:3306/teste" /> -->
    <!-- <beans:property name="driverClassName" value="com.mysql.jdbc.Driver" 
    /> -->
    <!-- <beans:property name="username" value="root" /> -->
    <!-- <beans:property name="password" value="" /> -->
    <!-- </beans:bean> -->




</beans:beans>