<beans:beans xmlns="http://www.springframework.org/schema/security" 
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
             xmlns:beans="http://www.springframework.org/schema/beans" 
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd">

    <http auto-config="true" use-expressions="true">
        <access-denied-handler error-page="/acessoNegado.xhtml" />
        <form-login login-page="/login.xhtml"
			authentication-failure-url="/login.jsf?error=true" />
        
        <!--Aqui que vem as informacoes de interceptacao-->
        
    </http>

    <authentication-manager>
        <authentication-provider>
            
            <jdbc-user-service data-source-ref="jdbcDataSource" 
                    users-by-username-query="SELECT login as username, senha as password, enable FROM funcionario WHERE login=?" 
                    authorities-by-username-query="SELECT login as username, cargo as authority FROM usuario WHERE login=?" /> 
				
        </authentication-provider>
    </authentication-manager>
    
    <beans:bean id="jdbcDataSource" 
                 class="org.springframework.jdbc.datasource.DriverManagerDataSource"> 
        <beans:property name="url" 
                     value="jdbc:mysql://localhost/rentmoviesdb" /> 
        <beans:property name="driverClassName" value="com.mysql.jdbc.Driver" 
        /> 
        <beans:property name="username" value="root" /> 
        <beans:property name="password" value="12345" /> 
    </beans:bean> 

</beans:beans>