.ui-growl {
    position: fixed;
    top: 60px;
    right: 10px;
}

/*.ui-growl-message {
    padding: 0 0 5px 0;
    width: 95%;
    float: left;
}*/

.ui-datatable .ui-datatable-header {
        text-align: right !important;
    }
     
    .ui-button-text-only .ui-button-text {
        padding: 0.3em 0.4em;
    }
     
    .ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-header .ui-chkbox {
        visibility: hidden;
    }
     
    .ui-filter-column .ui-column-customfilter .custom-filter {
        width: 100%;
        box-sizing: border-box;
    }
     
    .year-spinner input {
        width: 100%;
        box-sizing: border-box;
    }